<link rel="stylesheet" type="text/css" href="../css/footer.css"/>
<footer id="footer">
    <address> 
        Contacts for communication <a href="mailto:js@example.com">Elon Musk</a> Adress: USA, New-York, Boston street 18
    </address>
    <p><a href="/license">License agreement</a>   Copyright @2022 MyCorp.</p>
</footer>