<link rel="stylesheet" type="text/css" href="../css/menu.css"/>
<header id="header">
    <h1>Pattern - website about design pattern</h1>
    <div id="nav">
        <ul>
            <li><a href="#">Main</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">About the site</a></li>
        </ul>
    </div>
</header>